---
import Layout from "../layouts/Layout.astro";
import { getPortfolioFromId } from "/src/utils/getPortfolioFromId.js";
import CardDetail from "../components/CardDetail.astro";

const id = "jorgemadrid";
const portfolio = getPortfolioFromId(id);
---

<Layout title="Jorge Madrid Portillo Portfolio">
  <main class="">
    <!-- <CardDetail portfolio={portfolio} /> -->
  </main>

  <style></style>
</Layout>
