---
import { languages } from "../i18n/ui";
import { translateURL } from "../i18n/utils";

import { Image } from "astro:assets";
import spainIcon from "/src/images/icons/spain.png";
import englandIcon from "/src/images/icons/united-kingdom.png";

const { isMobile } = Astro.props;
---

<div
  class="flex flex-row gap-3 items-center justify-center max-sm:flex-col max-sm:gap-3 max-sm:mt-4"
>
  <a href={translateURL(Astro.url, "es")}>
    <Image
      src={spainIcon}
      alt="spain icon"
      width={isMobile ? 40 : 25}
      height={isMobile ? 40 : 25}
    />
  </a>
  <a href={translateURL(Astro.url, "en")}>
    <Image
      src={englandIcon}
      alt="Uk icon"
      width={isMobile ? 40 : 25}
      height={isMobile ? 40 : 25}
    />
  </a>
</div>
